<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="limite">
      <ion-icon name="arrow-forward-outline"></ion-icon>
      <ion-label>Limite</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="derivada">
      <ion-icon name="shuffle-outline"></ion-icon>
      <ion-label>Derivada</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
