<ion-content class="ion-padding">
  <div class="home-container">
    <h1>Limite</h1>

    <ion-card>
      <ion-card-content>
        <p class="margin">O limite mostra o comportamento de uma função quando a variável se aproxima de um certo valor. Ele ajuda a entender o que acontece “bem perto” de um ponto específico.</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <h4>Insira os dados para calcularmos o limite:</h4>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="none" class="ion-no-padding">
          <ion-list>
            <p class="margin">Função f(x)</p>
            <ion-input fill="outline" placeholder="Digite a função aqui..." [(ngModel)]="funcao"></ion-input>
          </ion-list>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding">
          <ion-list>
            <p p class="margin">Ponto X</p>
            <ion-input fill="outline" placeholder="Digite valor aqui..." [(ngModel)]="pontoX"></ion-input>
          </ion-list>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding" *ngIf="resultado">
          <p>Resultado: {{resultado}}</p>
        </ion-item>

        <ion-button expand="block" (click)="calcularLimite()">Calcular</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="resultado != null">
      <ion-card-header>
        <h4>Gráfico de f(x) próximo de x = {{pontoX}}</h4>
      </ion-card-header>

      <ion-card-content>
        <canvas id="graficoLimite" style="width: 100%; height: 300px;"></canvas>
        <p style="font-size: 0.9rem; text-align: center; margin-top: 8px;">
          O gráfico mostra o comportamento da função quando x se aproxima de {{pontoX}}.
        </p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-toast
    [isOpen]="abrirToast"
    message="{{mensagemToast}}"
    [color]="'danger'"
    position="top"
    [duration]="5000"
    (didDismiss)="exibirErro(false)">
  </ion-toast>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>
