@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&display=swap');


div {
  p {
    text-align: center; 
    margin-bottom: 0; 
    margin-top: 15%; 
    font-family: 'Poppins';
    font-size: 20px;
    color: black;
  }

  h1 {
    text-align: center; 
    margin-top: 0; 
    font-family: 'Protest Strike';
    font-size: 60px;
    letter-spacing: 10px;
    color: rgb(50, 112, 247);
  }

  ion-card {
    margin-top: 60%;
    border-radius: 10px;

    p {
      margin: auto;
      font-size: 17px;
    }
  }
}